@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #eeeeec;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1rem;
  line-height: 1.75rem
}

h2 {
  font-size: 1rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.75rem;
}

p, li, span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
